@charset "UTF-8";
/* CSS Document */



body {
	background-color: #ffffff} 	

}

@font-face {
  font-family: 'Autography';
  src: url("../fonts/autography/Autography.otf") format("opentype"); }

@font-face {
  font-family: 'Creato';
  src: url("../fonts/creato_display/CreatoDisplay-Light.otf") format("opentype"); }


.navcenter {
	border-style: solid;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 30px;
	border-color: black;
	
}

.container-quote {	
 	padding-left: 45%;
	padding-top: 30px;
}
     
flex-container .center-line {
	border-left: 5px solid black; 
	height: 200px; 
	padding-left: 50%;
}

p, h2 {
    font-family: 'Creato', sans-serif;
    font-size: 30px;
	padding: 5%}

h1, h3, h4, h5, h6 {
	font-family: 'Autography', sans-serif;
	font-size: 300%;
}

.dottedborder {
	border-style: dotted none dotted none;
}


