// Scss Document

@charset "UTF-8";

/* 
The Librettists Who Wrote on Air
CMCT 6535: Digital Publication
Winter 2026
Author: AlAHA Husseinzadah

Webtext Stylesheet
*/

/* div {
			border: 2px solid black;-
		} */


// Colour Palette
// White
$bg-colour-white: #ffffff;
// Medium Pink
$bg-colour-mdpink: #efd3e7;
// Light Pink
$bg-colour-ltpink: #f6e0f0;
// Light Green
$bg-colour-ltgreen: #e4e8c7; 
// Medium Green
$bg-colour-mdgreen: #abccac; 
// Mint Green
$bg-colour-mintgreen: #c0c87a; 

// Background Images
@mixin backgroundimgbachabazi() {
	background-image: url("../media/image/bachabazi_bycodeincat-deviantart.jpg");
}

//Chimamanda Ngozi Adichie Quote
@mixin CNAquote2000() {
	 	font-size: 25px;
		padding-left: 45%;
}

@mixin CNAquote1100() {
	 	font-size: 20px;
		padding-left: 45%;
}

@mixin CNAquote991() {
	 	font-size: 18px;
		padding-left: 45%;
}

@mixin CNAquote767() {
	 	font-size: 15px;
		padding-left: 45%;
}

@mixin CNAquote375() {
	 	font-size: 10px;
		padding-left: 45%;
}

@mixin ewritintro2000() {
	 	font-size: 25px;
}

@mixin ewritintro1100() {
	 	font-size: 20px;
}

@mixin ewritintro991() {
	 	font-size: 18px;
}

@mixin ewritintro767() {
	 	font-size: 15px;
}

@mixin ewritintro375() {
	 	font-size: 10px;
}


//Index Essay Title
@mixin IET2000() {
	 	font-size: 100px;
}

@mixin IET1100() {
	 	font-size: 80px;

}

@mixin IET991() {
	 	font-size: 60px;
}

@mixin IET767() {
	 	font-size: 40px;
}

@mixin IET375() {
	 	font-size: 20px;
}

//Essay Title
@mixin ET2000() {
	 	font-size: 100px;
}

@mixin ET1100() {
	 	font-size: 80px;

}

@mixin ET991() {
	 	font-size: 60px;
}

@mixin ET767() {
	 	font-size: 40px;
}

@mixin ET375() {
	 	font-size: 20px;
}
	

//Nav homepage
@mixin n2000() {
	 	font-size: 35px;
		width: 35%;
		border: solid;
		margin-left: 32%;
		margin-right: 32%;	
}

@mixin n1100() {
	 	font-size: 27px;
		width: 35%;
		border: solid;
		margin-left: 32%;
		margin-right: 32%;

}

@mixin n991() {
	 	font-size: 25px;
		width: 35%;
		margin-left: 32%;
		margin-right: 32%;
}


@mixin n767() {
	 	font-size: 21px;
 		margin-left: 32%;
		margin-right: 32%;
		width: 35%;
}

@mixin n375() {
	 	font-size: 19px;
		margin-left: 25%;
		margin-right: 25%;
}

@mixin nb375() {
	margin-left: 42%;
}

//Nav bar subpage
@mixin navbarsub2000() {
	 	font-size: 40px;
}

@mixin navbarsub1100() {
	 	font-size: 35px;
}

@mixin navbarsub991 () {
	 	font-size: 25px;
}


@mixin navbarsub767() {
	 	font-size: 18px;
}

@mixin navbarsub375() {
	 	font-size: 10px;
}

@mixin responsive($maxWidth) {
    @media only screen and (max-width: $maxWidth) {
        @content;
    }
}


//Fonts
//Headers fonts
@font-face {
  font-family: 'Autography';
  src: url("../fonts/autography/Autography.otf") format("opentype"); }

@font-face {
  font-family: 'Biro';
  src: url("../fonts/biro_script/Biro_Script_reduced.otf") format("opentype"); }

@font-face {
  font-family: 'Creato';
	src: url("../fonts/creato_display/CreatoDisplay-Light.otf") format("opentype");}
	
@font-face {
  font-family: 'Shorelines';
  src: url("../fonts/shorelines_script/Shorelines Script Bold.otf") format("opentype"); }

//Body fonts
@font-face {
  font-family: 'ComfortaLight';
  src: url("../fonts/comfortaa/Comfortaa-Light.ttf") format("opentype"); }

@font-face {
  font-family: 'Jordan';
  src: url("../fonts/kg_teacher_jordan/KGTeacherJordan.otf") format("opentype"); }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/Quicksand_Light.otf") format("opentype"); }


@font-face {
  font-family: 'Tropical';
  src: url("../fonts/tropical_avenue/Tropical Avenue Personal Use Only.ttf") format("opentype"); }


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/image/bachabazi_bycodeincat-deviantart.jpg");
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	margin-top: calc(-100vw + 50%);
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: 0;
    padding: 0;
    top: 0;
    left: 0;
}


.hero-text {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: hotpink;
	font-size: 10px;
	font-family: 'Creato', sans-serif;
}


#index, #Essay, #citations {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5% 
}
 
p, h2 {
    font-family: 'Creato', sans-serif;
    font-size: 30px;
}

h1, h3, h4, h5,  {
	font-family: 'Autography', sans-serif;
}

h6 {
	font-family: 'Creato', sans-serif;
 
}

.newthought {
	font-variant-caps: all-small-caps;
	font-size: 35px;
	-webkit-text-stroke: 0.3px black;
    text-stroke: 0.3px black;
}


i, em {
            -webkit-text-stroke: 0.3px;
            text-stroke: 0.3px;
        }
 /* Unvisited link */
  a:link {
    color: black;
  }

 /* Visited link */
  a:visited {
    color: hotpink;
  }

 /* Mouse over link */
  a:hover {
    color: #e1ad01;
  }

 /* Selected link */
  a:active {
    color: black;
  }

//Index page

#index {
	background-color: $bg-colour-ltpink;
}

	.container-quote {	
		font-family: 'Creato', sans-serif;

				@include responsive(2000px) {
					@include CNAquote2000();
			}

				@include responsive(1100px) {
					@include CNAquote1100();
			}

			@include responsive(991px) {
				@include CNAquote991();
			}

			@include responsive(767px) {
				@include CNAquote767();
			}

			@include responsive(375px) {
				@include CNAquote375();

			}
	}

	.dottedborder {
		border-style: dotted none dotted none;
		text-align: center;
		font-family: 'Autography', sans-serif;


		@include responsive(2000px) {
			@include IET2000();
			}

			@include responsive(1100px) {
				@include IET1100();
			}

			@include responsive(991px) {
				@include IET991();
			}

			@include responsive(767px) {
				@include IET767();
			}

			@include responsive(375px) {
				@include IET375();

			}
	}



	.navhome, .navessay, .navsm, .navcitations, .navauthor {
		font-family: 'Creato', sans-serif;
		text-align: center;
		justify-content: center;
		border: solid;
		
		
		@include responsive(2000px) {
			@include n2000();
		}
			
			@include responsive(1100px) {
				@include n1100();
		}

		@include responsive(991px) {
			@include n991();
		}
	
		@include responsive(767px) {
			@include n767();
		}

		@include responsive(375px) {
			@include n375();
		}
	}



	.vl {
		border-left: 3px solid #000000;
		height: 50px;	
		margin-left: 50%;

		@include responsive(375px) {
			@include nb375();
			}
		}


	.essaywritingintro {
	  text-align: justify;
	font-family: 'Creato', sans-serif;

				@include responsive(2000px) {
				@include ewritintro2000();
			}

				@include responsive(1100px) {
				@include ewritintro1100();
			}

				@include responsive(991px) {
				@include ewritintro991();
			}

				@include responsive(767px) {
				@include ewritintro767();
			}

				@include responsive(375px) {
				@include ewritintro375();

			}
	}



//Essay page

#Essay {
	background-color: $bg-colour-ltgreen;
}


	.essaypagetitle {
		font-family: 'Autography', sans-serif;
		text-align: center;
		margin-top: 25px;

		@include responsive(2000px) {
			@include ET2000();
			}

			@include responsive(1100px) {
				@include ET1100();
			}

			@include responsive(991px) {
				@include ET991();
			}

			@include responsive(767px) {
				@include ET767() 
			}

			@include responsive(375px) {
				@include ET375() 

			}
		
}

.video{
	border-style: dotted;
	border-width: 5px;
}
/* Hovering side navigation*/

#mySidenav a {
  position: fixed;
  right: -480px;
  transition: 0.3s;
  padding: 15px;
  width: 500px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 50px 50px 0;
	font-family: 'Creato', sans-serif;
}

#mySidenav a:hover {
  right: 0;
}

#Introduction{
  top: 20px;
  background-color: hotpink;
}

#sectionone {
  top: 80px;
  background-color: hotpink;
}

#sectiontwo {
  top: 163px;
  background-color: hotpink;
}

#boyofmyown {
	top: 223px;
  background-color:hotpink
}

#sectionthree {
  top: 283px;
  background-color:hotpink
}

//Citations page

#citations  {
	background-color: $bg-colour-mdgreen;
}

	.citationstitle {
		font-family: 'Autography', sans-serif;
		text-align: center;
		margin-top: 25px;

		@include responsive(2000px) {
			@include ET2000();
			}

			@include responsive(1100px) {
				@include ET1100();
			}

			@include responsive(991px) {
				@include ET991();
			}

			@include responsive(767px) {
				@include ET767() 
			}

			@include responsive(375px) {
				@include ET375() 

			}
}


//Media page

#media1  {
	background-color: $bg-colour-mintgreen;
}

//Author page

#author  {
	background-color: $bg-colour-mdpink;
}

.aboutimage {
		border-style: dotted;
		border-width: 5px;
}

.authordottedborder{
		text-align: center;
}


//Navigation Subpages 
#navsb {
	display: flex;
	justify-content: center;
	align-items: center;

}
.navhomesp, .navessaysp, .navsmsp, .navauthorsp, .navcitationssp {
		font-family: 'Creato', sans-serif;
		text-align: center;
		float:left;
		border: solid;
		width: 15%;

	
			@include responsive(2000px) {
			@include navbarsub2000();
			}

			@include responsive(1100px) {
				@include navbarsub1100();
			}

			@include responsive(991px) {
				@include navbarsub991();
			}

			@include responsive(767px) {
				@include navbarsub767() 
			}

			@include responsive(375px) {
				@include navbarsub375() 

			}
}


	.hr {
		border-top: 3px solid hotpink;
		width: 50px;	
		display: flex;
		float:left;
		margin-top: 0.75%;

}

/* Popup Box */

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.popup-content {
   padding: 14px 10px;
   line-height: 1.5;
}
.cnt223 a{
text-decoration: none;
}
.popup-onload{
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
top: 50%;
left: 50%;
margin-top: -300px;
margin-left: -300px;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}


/*YouTube Videos*/
iframe {
  display: block;
  margin: 0 auto;
}